html {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    background-color:white;
    color: black;
    font-size: 12px;
    font-family:'Courier New', monospace;;
  }

  #header {
    background-color: white;
  }
  #main{
    /* background-color: rgb(119, 197, 115); */
    width: 75%;
    float: left;
    height: 50%;
    height: 500px;
  }
  #side{
    /*background-color: rgb(71, 215, 208);*/
    width: 25%;
    float: right;
    height: 500px;
  }

  #foot {
    position:absolute;
    bottom:0;
    width:100%;
    /* height:60px;    Height of the footer */
    background:white;
 }

  p{
    font-size: 1.1em;
    padding-left: 3px;
    padding-right: 3px;
  }


